/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1200px) and (max-width: 1330px) {
  .container {
    max-width: 1190px;
  }
  body header .downer .phones {
    width: 50%;
  }
  body header .downer .phones .phone {
    font-size: 12px;
    margin: 0;
  }
  body header .downer .phones ul li a .icon-phone {
    margin-right: 5px;
    width: 25px;
    height: 25px;
  }
  body header .downer .phones ul li a .icon-phone img {
    width: 11px;
  }
  body header .downer .btn-darkgreen {
    height: 33px;
    padding: 10px;
    width: 160px;
    margin-left: 10px;
  }
  body header .fixed-header .logo {
    width: 10%;
  }
  body header .fixed-header .logo img {
    width: 100%;
  }
  body header .fixed-header .menu {
    width: 50%;
  }
  body header .fixed-header .btns {
    max-width: 40%;
    flex: 0 0 38%;
  }
}
@media (max-width: 1220px) {
  body .slider-arrows {
    position: relative;
    top: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  body .slider-arrows .arrow {
    position: relative;
    margin: 0 15px;
    top: -50%;
    transform: translate(0, -50%);
  }
  body .slider-arrows .arrow.prevSlide {
    left: 0;
    transform: matrix(-1, 0, 0, 1, 0, 0) translate(0, -50%);
  }
  body .slider-arrows .arrow.nextSlide {
    right: 0;
  }
  body h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
  }
  body h2 {
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
  }
  body .btn-darkgreen,
  body .btn-dark,
  body .btn-light {
    font-size: 12px;
    height: 34px;
    padding: 0;
    width: 150px;
  }
  body header .upper .menu {
    width: 60%;
  }
  body header .upper .social-lang {
    width: 30%;
    justify-content: flex-end;
  }
  body header .upper .social-lang .working-days {
    display: none;
  }
  body header .upper .social-lang .socials {
    width: 20%;
    margin-left: 40px;
  }
  body header .upper .social-lang .lang {
    width: 40%;
  }
  body header .downer {
    padding: 12px 0;
  }
  body header .downer .search {
    max-width: 45%;
  }
  body header .downer .logo {
    max-width: 12%;
  }
  body header .downer .btns {
    max-width: 40%;
    flex: 0 0 40%;
  }
  body header .downer .btns .phones {
    width: 55%;
  }
  body header .downer .btns .phone {
    font-size: 12px;
  }
  body header .downer .btns .phone .icon-phone:before {
    background-size: 12px;
  }
  body header .fixed-header .logo {
    width: 12%;
  }
  body header .fixed-header .logo img {
    width: 100%;
    height: 100%;
  }
  body header .fixed-header .menu {
    width: 60%;
  }
  body header .fixed-header .btns {
    max-width: 20%;
    flex: 0 0 20%;
  }
  body header .fixed-header .btns .phone {
    font-size: 12px;
    display: none;
  }
  body header .fixed-header .btns .phone .icon-phone {
    margin-right: 5px;
  }
  body main .page.main .home-slider .slider-content .slider {
    padding: 0 40px;
    height: 280px;
  }
  body main .page.main .home-slider .slider-content .slider img {
    object-position: 75%;
  }
  body main .page.main .home-slider .slider-content .slider h1,
  body main .page.main .home-slider .slider-content .slider h2 {
    font-size: 18px;
  }
  body main .page.main .home-slider .slider-content .slider .text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding: 0 10px;
  }
  body main .page.main .home-slider .slider-content .slider p {
    font-size: 12px;
  }
}
@media (max-width: 1024px) {
  body header .upper .menu {
    width: 65%;
  }
  body header .upper .menu a {
    padding: 12px 5px;
  }
  body header .upper .social-lang {
    width: 35%;
  }
  body header .downer .search {
    max-width: 40%;
  }
  body header .downer .btns {
    padding-left: 0;
    max-width: 47%;
    flex: 0 0 47%;
  }
  body header .downer .btns a {
    margin: 0 5px;
  }
  body header .downer .btns .phones {
    width: 55%;
  }
  body header .downer .btns .phones .phone {
    font-size: 12px;
    margin: 0;
  }
  body header .downer .btns .phones ul li a .icon-phone {
    margin-right: 5px;
    width: 25px;
    height: 25px;
  }
  body header .downer .btns .phones ul li a .icon-phone img {
    width: 11px;
  }
  body header .downer .btns .btn-darkgreen {
    height: 33px;
    padding: 0;
    width: 145px;
    margin-left: 10px;
  }
  body header .fixed-header .menu a {
    padding: 15px 0;
  }
  body header .fixed-header .btns {
    max-width: 23%;
    flex: 0 0 23%;
  }
  body header .fixed-header .btns .callback-btn {
    margin-left: 0;
    width: 160px;
  }
}
@media (max-width: 767px) {
  body header {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    overflow: visible;
  }
  body #nav-mobile {
    position: fixed;
    z-index: 10;
    overflow-x: hidden;
    background: rgba(63, 63, 63, 0.95);
    width: 0;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: -50%;
    transition: 0.5s;
    overflow-y: hidden;
    padding: 85px 20px 10px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-evenly;
  }
  body #nav-mobile .logo {
    padding-left: 80px;
    flex: 0 0 50%;
    margin-top: 1px;
    margin-bottom: 35px;
    left: -400px;
    position: fixed;
    top: 38px;
  }
  body #nav-mobile .logo p {
    color: #fff;
  }
  body #nav-mobile .hamb-menu {
    margin-bottom: 10px;
    margin-left: -400px;
    transition: 0.6s;
    width: 100%;
  }
  body #nav-mobile .hamb-menu li {
    visibility: hidden;
    overflow: hidden;
    width: 100%;
    transition: 0.1s;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    position: relative;
    font-size: 16px;
    font-weight: normal;
  }
  body #nav-mobile .hamb-menu li a {
    transition: 0.1s;
    padding: 5px 0;
    border-top: 0.5px solid rgba(191, 191, 191, 0.5);
    color: #fff;
    width: 100%;
  }
  body #nav-mobile .hamb-menu li:first-child a {
    border-top: none;
  }
  body #nav-mobile .hamb-menu li:hover {
    transition: 0.1s;
  }
  body #nav-mobile .hamb-menu li:hover a {
    color: #fff;
  }
  body #nav-mobile .hamb-menu li:hover:after {
    color: #fff;
  }
  body #nav-mobile .hamb-menu li.dropdown a:after {
    transition: 0.2s;
    content: '\f107';
    display: inline-block;
    position: absolute;
    right: 0;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body #nav-mobile .hamb-menu li.show a:after {
    transition: 0.2s;
    transform: rotate(180deg);
  }
  body #nav-mobile .hamb-menu li .dropdown-menu {
    background: transparent;
    padding: 0;
    border: none;
    display: block;
    opacity: 0;
    max-height: 0;
    height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
  }
  body #nav-mobile .hamb-menu li .dropdown-menu.show {
    opacity: 1;
    max-height: 300px;
    padding: 0 0 10px 15px;
    height: auto;
    overflow: visible;
    transition: max-height 0.5s ease-out;
  }
  body #nav-mobile .hamb-menu li .dropdown-menu li a {
    border-top: 0.5px solid rgba(255, 255, 255, 0.5);
  }
  body #nav-mobile .hamb-menu li .dropdown-menu li a:after {
    content: none;
  }
  body #nav-mobile .socials {
    width: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 30px 15px 0;
  }
  body #nav-mobile .socials li a {
    width: 24px;
    height: 24px;
    background-size: contain;
    opacity: 1;
  }
  body #nav-mobile .socials li a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  body #nav-mobile .lang {
    width: 100%;
    margin: 10px 0;
    display: none;
    flex-wrap: wrap;
    list-style: none;
    color: #fff;
    justify-content: flex-start;
  }
  body #nav-mobile .lang a {
    text-transform: uppercase;
    color: #3CCB78;
  }
  body #nav-mobile .lang li {
    margin: 0 5px;
  }
  body #nav-mobile .lang li.active a,
  body #nav-mobile .lang li:hover a {
    color: #FFF;
  }
  body #nav-mobile .lang li.sep {
    color: #17AA54;
  }
  body #nav-mobile .lang li:first-child {
    margin-left: 0;
  }
  body #nav-mobile .lang li:last-child {
    margin-right: 0;
  }
  body #nav-mobile .items {
    padding-left: 30px;
    transition: 0.6s;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    margin-left: -400px;
  }
  body #nav-mobile .items .item {
    margin-bottom: 25px;
  }
  body #nav-mobile .btm-content {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-end;
    width: 100%;
  }
  body #nav-mobile .btm-content .phone {
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    line-height: 140%;
    margin-bottom: 15px;
    width: 70%;
  }
  body #nav-mobile .btm-content .phone .icon-phone {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  body #nav-mobile .btm-content .phone .icon-phone img {
    width: 12px;
  }
  body #nav-mobile .btm-content .phone .icon-phone.whatsapp img {
    width: 14px;
  }
  body #nav-mobile .btm-content p {
    color: #fff;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    margin-bottom: 15px;
  }
  body #nav-mobile .btm-content .btn-white {
    font-size: 12px;
    height: auto;
  }
  body #nav-mobile .menu-content {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  body #nav-mobile.open .items {
    width: 100%;
    visibility: visible;
    transition: 0.1s;
    opacity: 1;
    margin-left: 0;
  }
  body #nav-mobile.open li {
    visibility: visible;
    transition: 0.1s;
  }
  body #nav-mobile.open .hamb-menu {
    margin-left: 0;
    visibility: visible;
    transition: 0.1s;
  }
  body #nav-mobile.open .logo {
    left: 0;
  }
  body #nav-mobile {
    padding: 80px 20px 65px;
    align-content: flex-start;
  }
  body #nav-mobile .logo {
    flex: 0 0 100%;
    max-width: 100%;
  }
  body #nav-mobile .logo img {
    margin-right: 10px;
    width: 30px;
  }
  body #nav-mobile .logo p {
    font-size: 16px;
  }
  body #nav-mobile .search {
    position: relative;
    padding: 0;
    max-width: 100%;
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
  body #nav-mobile .search input {
    background: #FFFFFF;
    border-radius: 5px 0 0 5px;
    border: none;
    height: 40px;
    padding: 10px;
    position: relative;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #404040;
  }
  body #nav-mobile .search .input-group-append {
    position: relative;
  }
  body #nav-mobile .search .input-group-append:before {
    content: '';
    display: flex;
    position: absolute;
    left: -1px;
    background: #BBBBBB;
    box-sizing: border-box;
    border-radius: 5px;
    height: 30px;
    width: 0.5px;
    z-index: 3;
    top: 50%;
    transform: translate(0, -50%);
  }
  body #nav-mobile .search button {
    height: 40px;
    background: #FFFFFF;
    border-radius: 0 5px 5px 0;
    border: none;
    padding: 0 15px;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #404040;
    transition: 0.2s;
  }
  body #nav-mobile .search button:hover {
    transition: 0.2s;
    color: #007832;
  }
  body #nav-mobile .search .search-results {
    position: absolute;
    display: none;
    z-index: 3;
    flex-wrap: wrap;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    background: #FFFFFF;
    border: 0.5px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
  }
  body #nav-mobile .search .search-results .close {
    position: absolute;
    right: 10px;
    top: 3px;
    z-index: 1;
  }
  body #nav-mobile .search .search-results p {
    padding: 5px 0;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
  }
  body #nav-mobile .search .search-results ul {
    width: 100%;
    border-bottom: 0.5px solid #BBBBBB;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  body #nav-mobile .search .search-results ul li {
    width: 100%;
  }
  body #nav-mobile .search .search-results ul li a {
    padding: 5px 0;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
  }
  body #nav-mobile .search .search-results .text-link {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #757575;
    display: inline-flex;
  }
  body #nav-mobile .search .search-results .text-link:hover {
    color: #404040;
  }
  body #nav-mobile .search .search-results.open {
    display: flex;
  }
  body header .mob-fixed-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 15px;
  }
  body header .mob-fixed-menu .hamburger {
    display: flex;
    width: 45px;
    max-width: 45px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    background: #EEEEEE;
    border-radius: 5px;
    padding: 10px;
    z-index: 101;
  }
  body header .mob-fixed-menu .hamburger span {
    display: block;
    position: absolute;
    height: 2px;
    width: 23px;
    background: #404040;
    border-radius: 20px;
    opacity: 1;
    left: 12px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  body header .mob-fixed-menu .hamburger span:nth-child(2) {
    top: 23px;
    width: 15px;
  }
  body header .mob-fixed-menu .hamburger span:nth-child(1) {
    top: 15px;
  }
  body header .mob-fixed-menu .hamburger span:nth-child(3) {
    top: 31px;
  }
  body header .mob-fixed-menu .hamburger.open {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.02);
  }
  body header .mob-fixed-menu .hamburger.open span {
    background: #fff;
  }
  body header .mob-fixed-menu .hamburger.open span:nth-child(1) {
    top: 22px;
    width: 19px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  body header .mob-fixed-menu .hamburger.open span:nth-child(2) {
    opacity: 0;
    left: -20px;
  }
  body header .mob-fixed-menu .hamburger.open span:nth-child(3) {
    top: 22px;
    width: 19px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  body header .mob-fixed-menu .logo {
    width: 35%;
  }
  body header .mob-fixed-menu .logo img {
    width: 100%;
  }
  body header .mob-fixed-menu .phones {
    width: 30%;
    justify-content: flex-end;
  }
  body header .mob-fixed-menu .phones .phone {
    margin-right: 10px;
  }
  body header .mob-fixed-menu .phones .phone:last-child {
    margin-right: 0;
  }
  body header .mob-fixed-menu .phones .phone .icon-phone {
    width: 37px;
    height: 37px;
  }
  body header .mob-fixed-menu .phones .phone .icon-phone img {
    width: 17px;
  }
  body header .mob-fixed-menu .phones .phone.whatsapp .icon-phone img {
    width: 23px;
  }
  body header .fixed-header,
  body header .upper,
  body header .downer {
    display: none;
  }
  body main {
    margin-top: 95px;
  }
  body main .page.main .home-slider .slider-content .slider {
    padding: 0 20px;
  }
  body main .page.main .home-slider .slider-content .slider .text {
    align-items: flex-start;
    align-content: flex-start;
    padding: 20px 0;
    width: 100%;
  }
  body main .page.main .home-slider .slider-content .slider .text h1,
  body main .page.main .home-slider .slider-content .slider .text h2 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  body main .page.main .home-slider .slider-content .slider p {
    margin-bottom: 20px;
  }
  body main .page.main .home-slider .slider-content .slider img {
    object-position: 50%;
  }
}
/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  /** General Setting ***/
  img {
    max-width: 100% !important;
  }
  main,
  footer {
    overflow: hidden;
  }
  /* For mobile phones: */
  [class*="col-6"],
  [class*="col-4"],
  [class*="col-8"],
  [class*="col-9"] {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  [class*="col-3"] {
    width: 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  [class*="col-2"] {
    width: 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /** General Setting ***/
  img {
    max-width: 100% !important;
  }
  main,
  footer {
    overflow: hidden;
  }
  /* For mobile phones: */
  [class*="col-6"],
  [class*="col-4"],
  [class*="col-7"],
  [class*="col-8"],
  [class*="col-9"] {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  [class*="col-3"] {
    width: 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  [class*="col-2"] {
    width: 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  /** General Setting ***/
  img {
    max-width: 100% !important;
  }
  header,
  main,
  footer {
    overflow: hidden;
  }
  /* For mobile phones: */
  [class*="col-6"],
  [class*="col-4"],
  [class*="col-7"],
  [class*="col-8"],
  [class*="col-9"] {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  [class*="col-3"] {
    width: 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  [class*="col-2"] {
    width: 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (max-width: 480px) {
  /** General Setting ***/
  img {
    max-width: 100% !important;
  }
  header,
  main,
  footer {
    overflow: hidden;
  }
  /* For mobile phones: */
  [class*="col-6"],
  [class*="col-4"],
  [class*="col-7"],
  [class*="col-8"],
  [class*="col-9"] {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  [class*="col-3"] {
    width: 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  [class*="col-2"] {
    width: 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  body header .mob-fixed-menu .phones {
    width: 35%;
    justify-content: flex-end;
  }
}
